
@media (max-width: 1399.98px) { 
    .header-menu .head-searce {
      padding-left: 122px;
    }
    .menu-list ul {
      gap: 40px;
    }
    .products-soping {
      gap: 16px;
    }
  
    .products-soping {
      gap: 3px;
    }
    .organi-section {
      padding: 25px;
    }
    .pagina-tion {
        padding-bottom: 0px;
        gap: 11px;
        margin-bottom: 19px;
      }
      .organi-section {
        height: 217px;
        width: 365px;
        padding: 18px;
      }
      .products-text .hr-one {
        top: 42%;
        left: 22%;
        width: 200px;
      }
      .products-text .hr-two {
        width: 200px;
        left: 60%;
      }
  }

  @media (max-width: 1199.98px) { 
    .menu-list ul {
      gap: 30px;
    }
    .banner-text h1 {
      font-size: 34px;
    }
    .banner-text {
      padding: 50px 0px;
    }
    .organi-text a img {
      width: 11px;
      height: 10px;
    }
    .organi-text h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 106.5%;

    }
    .organi-section {
      height: 217px;
      width: 265px;
      padding: 18px;
    }
    .organi-text h6 {
      font-size: 13px;
    }
    .products-text .hr-one {
      left: 19%;
      width: 150px;
    }
    .products-text .hr-two {
      width: 150px;
      left: 64%;
    }
    .best-seller-head .best-text h2 {
      margin-bottom: 20px;
    }
    .organi-section {
      padding: 21px;
      aspect-ratio: 4/2;
    }
    .hutar-full-pages {
      padding: 18px;
    }
    .hutar-search {
      height: 136px;
    }
    .hutar-submeet input {
      max-width: 377px;
    }
    .hutar-submeet button {
      max-width: 177px;
  
    }
    h2, h3, h4, h5, h6 {
  
      font-weight: 300;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      --bs-gutter-x: -0.5rem;
  
    }
    .hutar-menu-list {
      padding-top: 25px;
    }
    .container, .container-md, .container-sm {
      max-width: 829px;
    }
    .best-sell {
      aspect-ratio: 4/4;
  
    }
    .best-sell .coundown-best {
      left: 69px;
    }
    .products-soping {
      gap: 59px;
    }
    .products-soping {
      gap: 18px;
    }
    .organi-section {
      padding: 15px;
      aspect-ratio: 4/3;
      padding-top: 30px;
    }
    .products-soping h5 {
      padding-top: 0px;
    }
    .news-from h5 {
      top: 18px;
      left: 13px;
      width: 79px;
      height: 37px;
      padding: 10px;
        padding-left: 10px;
      padding-left: 5px;
      font-size: 17px;
      text-align: center;
    }
    .news-from h5 {
      width: 79px;
    }
    .header-menu .head-searce {
      padding-left: 122px;
  
    }
    .best-sell .coundown-best {
      left: 17px;
    }
    .loved-from {
      padding: 30px 0px;
    }
    .cgkmst-section {
      padding: 50px 0;
    }
    .latest-news {
      padding: 50px 0px;
    }
    .news-from .latest-moda h2 {
      font-size: 17px;
    }
    .hutar-menu-list .about-company p {
      font-size: 12px;
    }
    .useful-links h3 {
      font-size: 16px;
    }
    .customer-list h3 {
      font-size: 16px;
    }
    .roduct-egories h3 {
font-size: 16px;
    }
    .useful-links ul li a {
      font-size: 13px;
    }
    .customer-list ul li a {
      font-size: 13px;
    }
    .roduct-egories ul li a {
      font-size: 13px;
    }
    .form-text {
      padding: 20px;
    }
    .form-text p {
      font-size: 16px;
    }
    .form-its h4 {
      font-size: 10px;
    }
    .form-hutar .form-photo {
      gap: 15px;
    }
    .frat-pro {
      grid-template-columns: repeat(3, 2fr);
    }
   }

   @media (max-width: 991.98px) { 
    .header-menu .head-searce {
      padding-left: 65px;
    }
    .organi-section {
      padding: 21px;
      aspect-ratio: 4/2;
      margin-bottom: 23px;
    }
    
      .products-list {
        aspect-ratio: 6/3;
        padding: 51px;
      }
    .products-soping h5 {
      padding-left: 12px;
    }
    .hutar-full-pages {
      padding: 25px;
    }
    .hutar-search {
      padding: 47px;
      height: 102px;
    }
    .hutar-submeet input {
      max-width: 314px;
      height: 56px;
      padding: 0px 47px;
    }
    .hutar-submeet button {
      max-width: 180px;
      height: 54px;
    
    }
    .hutar-menu-list .about-company h3 {
      font-size: 17px;
      font-weight: 400;
      line-height: 15%;
      
    }
    .hutar-menu-list .about-company p {
      padding-top: 31px;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
    }
    .hutar-menu-list .company-donec {
      gap: 10px;
      padding-top: 16px;
    }
    .hutar-menu-list .company-number {
      gap: 10px;
      padding-top: 21px;
    }
    .useful-links h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 12%;
    }
    .useful-links ul {
      padding-top: 22px;
    }
    .customer-list h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 117%;
    }
    .customer-list ul {
      padding-top: 9px;
    }
    .roduct-egories h3 {
  
      font-size: 16px;
      font-weight: 400;
      line-height: 113%;
     
    }
    .hutar-moda {
      padding-top: 20px;
    }
    .hutar-moda .hutr-moda-icon {
      gap: 25px;
    }
  
    .hutar-moda a i {
      font-size: 27px;
    }
    .products-list {
      aspect-ratio: 4/6;
    }
    .banner-text h1 {
      font-size: 54px;
    }
    .banner-photo {
      padding-top: 0px;
    }
    .organi-section {
      width: 370px;
      padding: 30px;
    }
    .organi-text h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 136.5%;
    }
    .organi-text h6 {
      font-size: 15px;
    }
    .organi-text a img {
      width: 18px;
      height: 14px;
    }
    .frat-pro {
      grid-template-columns: repeat(2, 4fr);
    }
    .products-list {
      aspect-ratio: 4/3;
      padding: 40px;
    }
    .products-text .hr-one {
      left: 16%;
    }
    .products-list {
      aspect-ratio: 4/5;
      padding: 40px;
    }
    .best-sell{
      padding-top: 191px;
    }
    .best-sell .coundown-best {
      left: 34px;
    }
    .news-from {
      padding: 30px 0;
    }
    .hutar-submeet button {
      max-width: 122px;
    }
    .hutar-menu-list {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .opne-menu{
      display: block;
      padding-right: 20px;
      a{
        color: #000000;
    }}
  .menu-list{
    position: fixed;
    left: -200%;
    top: 0;
    padding: 40px;
    transition: .3s;
    background-color: #fff;
    color: #000;
    z-index: 100;
    display: block;
    ul{
      display: block;
      li{
        padding-bottom: 20px;
        a{
          color: #000;
        }
      }
    }
    &.active{
        left: 0;
        width: 100%;
      height: 100vh;
    }
  }
  .opne-menu2{
    display: block;
    padding-right: 20px;
    a{
      color: #000000;
  }}
  .header-close2{
    display: block;
   }
  .head-scr{
    position: fixed;
    left: -200%;
    top: 0;
    padding: 40px;
    transition: .3s;
    background-color: #fff;
    color: #000;
    z-index: 100;
    display: block;

    &.active{
        left: 0;
        width: 100%;
      height: 100vh;
    }
  }
  .menu-list
   .btn-close.header-close {
    right: 35px;
    position: absolute;
    top: 33px;
  }
 .header-close2 {
    right: 35px;
    position: absolute;
    top: 33px;
  }
  .header-menu .head-searce {
    padding-left: 0px;
    margin-top: 30px;
  }
  .head-searce input {
    height: 55px;
    width: 100%;
    max-width: 680px;
    margin-bottom: 30px;
  }
  .head-icon {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .head-text {
    padding-left: 0px;
    margin-bottom: 30px;
  }
  .head-pofile {
    padding-left: 0px;
  }
  .head-searce i {
    top: 24%;
  }
  .head-menu {
    padding: 15px 0;
  }
  .header-menu {
    padding: 15px 0;
  }
  }

  

@media (max-width: 767.98px) {
    .header-menu {
      padding: 2px 0;
    }
    .header-menu .head-searce input {
      width: 219px;
      padding: 16px;
    }
    .header-menu .head-searce {
      padding-left: 19px;
    }
    .header-menu .head-icon a {
      font-size: 11px;
      font-weight: 300;
  
    }
    .head-menu {
      gap: 29px;
      padding: 1px 0;
    }
    .menu-list ul {
      gap: 0px;
    }
    .header-menu .head-text {
      padding-left: 10px;
    }
    .header-menu .head-icon {
      border-radius: 50px;
      margin-left: 6px;
      padding: 0px 0px;
    }
    .header-menu .head-pofile {
      padding-left: 8px;
    }
    .organi-section {
      padding: 21px;
      aspect-ratio: 6/2;
    }
    .products-list {
      aspect-ratio: 4/3;
      margin-bottom: 20px;
    }
    
    .products-list {
      aspect-ratio: 6/3;
      padding: 51px;
    }
    .products-soping h5 {
      padding-left: 53px;
    }
    .hutar-full-pages {
      padding: 26px;
    }
    .organi-section {
      padding: 75px;
      aspect-ratio: 6/1;
    }
    .banner-text h1 {
      font-size: 44px;
    }
    .organi-section {
      width: 420px;
      padding: 30px;
    margin: 15px auto;
    }
   
    .products-list {
      aspect-ratio: 6/3;
      padding: 21px;
    }
    .products-text .hr-one {
      left: 17%;
      width: 80px;
    }
    .products-text .hr-two {
      width: 80px;
      left: 69%;
    }
    .Best-Sellers {
      padding: 50px 0;
    }
    .best-sell {
      padding-top: 171px;
    }
    .hutar-submeet input {
      max-width: 271px;
      height: 56px;
      padding: 0px 47px;
    }
    .hutar-submeet button {
      max-width: 94px;
    }
    .best-seller-head .best-text p {
      font-size: 12px;
    }
    .best-seller-head .best-text h2 {
      font-size: 32px;
    }
    .loved-from-heaed {
      padding-top: 50px;
    }
    .head-menu {
      padding: 10px 0;
    }
    .top-bottom.active {
      bottom: 50px;
      right: 20px;
    }
    }

    @media (max-width: 575.98px) { 
      .head-icon a img {
        margin-left: 0px;
      }
      .header-menu .head-searce input {
        width: 284px;
        padding: 15px;
       }
       .banner-text h1 {
        font-size: 28px;
      }
      .Organically-Produce {
        padding: 45px 0;
      }
      .frat-pro {
        grid-template-columns: repeat(1, 4fr);
      }
      .featured-menu {
        padding: 50px 30px;
      }
      .products-text .hr-one {
        left: 2%;
        width: 80px;
      }
      .products-text .hr-two {
        width: 80px;
        left: 77%;
      }
      .products-list {
        margin: 0 30px;
      }
      .loved-heard p {
        font-size: 12px;
      }
      .loved-heard h1 {
        font-size: 29px;
      }
      .form-text p {
        font-size: 13px;
      }
      .form-body h3 {
        font-size: 21px;
      }
      .form-body h1 {
        font-size: 70px;
      }
      .from-moda h1 {
        font-size: 25px;
      }
      .from-moda p {
        font-size: 11px;
      }
      .news-from {
        padding: 30px 20px;
      }
      .news-from .letest-text h6 {
        font-size: 13px;
      }
      .news-from .letest-text span {
        font-size: 13px;
      }
      .news-from .latest-moda h2 {
        font-size: 15px;
      }
      .hutar-menu-list {
        grid-template-columns: repeat(1, 1fr);
      }
      .hutar-moda a i {
        font-size: 17px;
      }
      .Organically-Produce {
        padding: 20px 0;
      }
      }