// Featured-Products
.Featured-Products{
  background: #F5F5F5;
}
   .featured-text {
     padding-top: 50px;
     h2{
       color: #263238;
   text-align: center;
   font-family: Poppins;
   font-size: 35px;
   font-style: normal;
   font-weight: 700;
   line-height: 136.5%;
   text-transform: capitalize;
     }
     p{
       
       color: #595252;
   text-align: center;
   font-family: Poppins;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 172.5%; 
   text-transform: capitalize;
     }
   }
   .products-list{
   
     aspect-ratio: 4/3;
     border-radius: 15px;
   padding: 40px;
   position: relative;
   border-radius: 8px;
background: #FFF;
   }
   
   .prod-head{
     img{
       
   height: 150px;
       background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-left:1px;
     }
   h3{
     display: flex;
   padding-top: 20px;
   
   flex-direction: column;
   justify-content: center;
   color: #000;
   font-family: Poppins;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 145.5%; 
   text-transform: capitalize;
   }
   }.products-pirs{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 20px;
     span{
   
   color: #488C1C;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 136.5%; 
   text-transform: capitalize;
     }
   }
   .products-soping{
     align-items: center;
     display: flex;
     gap: 30px;
     
     border-radius: 25.5px;
   border: 1px solid #488C1C;
   
     img{
       width: 38.104px;
   height: 38.104px;
     }
     h5{
       padding-top: 3px;
       color: #488C1C;
   font-family: Poppins;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 136.5%; 
   text-transform: capitalize;
     }
   }
   .products-list img{
     transition: .5s;
   }
   .products-list:hover .products-icon img{
     background-color: #498d1c67;
     border-radius: 50%;
     transform: rotatey(360deg);
     color: white;
    
   }
   .abuot-text span:hover{
    color: rgb(39, 234, 9);
    
   }
   .products-icon{
     position: absolute;
     top: 30px;
     right: 30px;
    
    
     img{
       width: 38.104px;
   height: 38.104px;
     }
   }
   .products-discont{
     position: absolute;
     left: 30px;
     top: 30px;
     h6{
       border-radius: 2px;
       background: #F88808;
       padding: 6px;
       color: #FFF;
       font-family: Poppins;
       font-size: 14px;
       font-style: normal;
       font-weight: 500;
       line-height: 136.5%; 
       text-transform: capitalize;
     }
   }

   .featured-menu{
    padding: 50px 0;
   }


   .frat-pro{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 30px;
   }

   // NATURAL-PRODUCTS
.NATURAL-PRODUCTS{
    padding-top: 50px;
   }
   .NATURAL-PRODUCTS :hover a img{
    margin-left: 5px;
   }
   
   .natural-section{
     position: relative;
     width: 100%;
     min-height: 410px;
     background: url('  ./../img/Rectangle\ 6515.png');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center bottom;
     margin-bottom: 50px;
   
     z-index: -1;
     
     
     &::after{
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         background-color:rgba(38, 50, 56, 0.70); 
         border-radius: 10px;
         top: 0;
         left: 0;
         z-index: -1;
         
     }
    
   }
   

   .products-text{
     padding: 150px 0;
     z-index: 1;
        .hr-two{
    width: 300px;
    color: #FFF;
    position: absolute;
    top: 42%;
    left: 59%;
    border: 1px solid #fff;
    z-index: 1;
 }    
  .hr-one{
    color: #FFF;
  width: 300px;
  position: absolute;
  top: 42%;
  left: 18%;
  border: 1px solid #fff;
  z-index: 1;


}
     h3{
       z-index: 1;
       color: #FFF;
   font-family: Poppins;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 145.5%;
   text-transform: capitalize;
   
     }
     h1{
       padding-top: 30px;
       color: #FFF;
   font-family: Poppins;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: 145.5%;
   text-transform: capitalize;
     }
     h2{
       padding-top: 15px;
       color: #FFF;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 145.5%; 
   text-transform: capitalize;
   margin-bottom: 30px;
     }
     a{
       margin-top: 30px;
       color: #FFF;
   font-family: Poppins;
   font-size: 15px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: capitalize;
   i{
    font-size: 20px;
   color: #FFF;
   transition: .3s;
   }
     }
   }